.banner-container *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    height: 100% ;
    width: 100%;
    margin: auto;
    border: 0 solid black;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.pre-botton{
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}

.pre-botton img {
    border-radius: 15px;
}

#prevbtn{ /*Freccia scorrimento precedente*/
    position: absolute;
    top:45%;
    z-index: 10;
    left:2%;
    font-size: 30px;
    color: var(--neutral-color-1);
    cursor: pointer;

}

#nextbtn{ /*Freccia scorrimento successivo*/
    position: absolute;
    top: 45%;
    width:auto;
    z-index: 10;
    right: 2%;
    font-size: 30px;
    color: var(--neutral-color-1);
    cursor: pointer;
}

#nextbtn:hover,#prevbtn:hover{
    color: var(--main-color);
}

/* FADE ANIMATION ZONE WIP*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}



@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}