@charset "utf-8";

.product-box {
    margin: auto;
    padding: 0;
    height: 300px;
    width: 270px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    border: 0px solid var(--neutral-color-2);
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
    /* box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color); */
}

.product-box:hover {
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

.product-box .product-link {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: inherit;
}

.product-box .product-link:hover {
   cursor: pointer;
}

.product-box .image-container {
    height: auto;
    width: 100%;
    border-radius: 25px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.product-box .image-container img {
    height: 150px;
    width: 150px;
}

.image-container p {
    position: absolute;
    left: 0;
    margin-top: 0px;
    margin-left: 0px;
    padding: 5px;
    border-radius: 25px;
    visibility: hidden;
}

.image-container .discount {
    color: var(--neutral-color-2);
    background-color: var(--accent-color);
}

.image-container .out-of-stock {
    color: var(--neutral-color-2);
    background-color: rgb(52, 52, 52);
}

.product-box .name {
    margin: auto 5px 0 5px;
    width: 100%;
    font-size: 1.8em;
}

.product-box .text-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    align-self: center;
    justify-self: end;
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.product-box .text-container .price {
    align-self: center;
    margin-left: 10px;
    font-size: 2em;
}

.product-box form {
    height: 100%;
}

.product-box .add-to-cart {
    margin: 0;
    padding: 0;
    height: 1px;
    margin-left: auto;
    position: relative;
    background-color: var(--transparent);
}
.product-box .add-to-cart button {
    margin: 0;
    padding: 0;
    height: 45px;
    width: 45px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    position: absolute;
    top: -50px;
    right: 8px;
    background-color: var(--transparent);
}

.product-box .add-to-cart i {
    border: 0px;
    color: var(--accent-color);
    background-color: var(--transparent);
}

.product-box .add-to-cart i:hover {
    color: var(--accent-color-dark);
}

.product-box .add-to-cart-inactive {
    margin: 0;
    padding: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.add-to-cart-inactive button {
    margin: 0;
    padding: 0;
    height: 45px;
    width: 45px;
    border-radius: 15px;
    cursor: none;
    border: none;
    background-color: var(--neutral-color-2);
}

.add-to-cart i {
    border: 0px;
    color: var(--accent-color-light);
    background-color: var(--neutral-color-2);
}

/*main section of the catalog page*/
.catalog-content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
}

.filters-panel {
    margin: 20px;
    padding: 20px;
    height: min-content;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

.catalog-main-panel {
    margin-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.catalog-top {
    margin: 20px;
    padding: 20px;
    width: auto;
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
}

.catalog-products {
    margin: 20px;
    padding: 20px;
    width: auto;
    border-radius: 15px;
    background-color: var(--neutral-color-3);
}



/*main section of the product page*/
.product-page-content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-top-row {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.product-images {
    margin: 40px;
    padding: 0;
    width: 100%;
}

.product-page-content .product-info {
    margin: 40px 40px 40px 40px;
    padding:20px;
    width: 1000px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-self: end;
    border: 1px solid var(--contrast-color-3);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

.product-info .product-name {
    margin: 5px;
    font-size: 3em;
}

.product-info .product-price {
    font-size: 2em;
}

.product-info #product-availability {
    color: var(--main-color);
}

.product-info .main-elements {
    display: flex;
    flex-direction: row;
}

.product-info .parameter-tag {
    margin: 0;
}

.product-info .product-parameter {
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-info .add-to-cart {
    align-self: center;
    width: 100%;
}

.product-info .add-to-cart button{
    margin: 0;
    padding: 15px 15px;
    width: 100%;
    border-radius: 10px;
    border: none;
	cursor: pointer;
    font-size: medium;
    font-weight: bold;
	color: var(--neutral-color-2);
	background-color: var(--accent-color);
}

.product-info .add-to-cart button:hover {
    background-color: var(--accent-color-dark);
}

.product-description {
    margin: 20px 40px;
    padding:20px;
    width: auto;
    border-radius: 10px;
    border: 1px solid var(--contrast-color-3);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

.product-reviews {
    margin: 20px 40px;
    padding:20px;
    width: auto;
    border-radius: 10px;
    display: flex;
    border: 1px solid var(--contrast-color-3);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

.product-page-content .section-title {
    margin-top: 0;
    font-size: 2em;
}



.product-page-content #product-distinct-info{
    justify-items: start;
}

.product-page-content .product-data-box {
    margin: 10px 20px 10px 0;
	padding: 10px;
	border-radius: 20px;
    border: none;
    font-size: medium;
    font-weight: bold;
	color: var(--neutral-color-2);
	background-color: var(--main-color);
}

.product-page-content .product-data-box-missing {
    display: none;
}