@charset "utf-8";

.product-box {
    margin: auto;
    padding: 10px;
    height: 250px;
    width: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--contrast-color-3);
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
}

.product-box:hover {
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

.product-box .image-container {
    height: auto;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-box .image-container img {
    height: 150px;
    width: 150px;
}

.product-box .name {
    margin: 5px 0 5px 0;
    width: 100%;
}

.product-box .text-container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: auto;
}

.product-box .text-container .price {
    align-self: center;
    margin: 4px;
}

.product-box .text-container .add-to-cart {
    margin: 0;
    padding: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.add-to-cart button {
    margin: 0;
    padding: 0;
    height: 32px;
    width: 32px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    background-color: var(--neutral-color-2);
}

.add-to-cart i {
    border: 0px;
    color: var(--accent-color);
    background-color: var(--neutral-color-2);
}

.add-to-cart i:hover {
    color: var(--accent-color-dark);
}

/*main section of the catalog page*/
.catalog-content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
}

.filters-panel {
    margin: 20px;
    padding: 20px;
    height: auto;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

.catalog-main-panel {
    margin-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.catalog-top {
    margin: 20px;
    padding: 20px;
    width: auto;
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
}

.catalog-products {
    margin: 20px;
    padding: 20px;
    width: auto;
}

/*main section of the product page*/
.product-page-content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-top-row {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.product-images {
    margin: 20px;
    padding: 0;
}

.product-form {
    margin: 20px;
    padding:20px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.product-description {
    margin: 20px;
    padding:20px;
    width: 100%;
}

.product-reviews {
    margin: 20px;
    padding:20px;
    width: 100%;
    display: flex;
}