@charset "utf-8";

.product-box {
    margin: 20px;
    padding: 0;
    height: 300px;
    width: 270px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    border: 0px solid var(--neutral-color-2);
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
    /* box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color); */
}

.product-box:hover {
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

.product-box .product-link {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: inherit;
}

.product-box .product-link:hover {
   cursor: pointer;
}

.product-box .image-container {
    height: auto;
    width: 100%;
    border-radius: 25px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.product-box .image-container img {
    margin-top: 10px;
    height: 150px;
    width: 150px;
}

.image-container p {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 5px;
    border-radius: 25px;
    visibility: hidden;
}

.image-container .discount {
    color: var(--neutral-color-2);
    background-color: var(--accent-color);
}

.image-container .out-of-stock {
    color: var(--neutral-color-2);
    background-color: rgb(52, 52, 52);
}

.product-box .name {
    margin: auto 5px 0 5px;
    width: auto;
    font-size: 1.8em;
}

.product-box .text-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    align-self: center;
    justify-self: end;
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.product-box .text-container .price {
    align-self: center;
    margin-left: 10px;
    font-size: 2em;
}

.product-box form {
    height: 100%;
}

.product-box .add-to-cart {
    margin: 0;
    padding: 0;
    height: 1px;
    margin-left: auto;
    position: relative;
    background-color: var(--transparent);
}
.product-box .add-to-cart button {
    margin: 0;
    padding: 0;
    height: 45px;
    width: 45px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    position: absolute;
    top: -50px;
    right: 8px;
    background-color: var(--transparent);
}

.product-box .add-to-cart i {
    border: 0px;
    color: var(--accent-color);
    background-color: var(--transparent);
}

.product-box .add-to-cart i:hover {
    color: var(--accent-color-dark);
}

.product-box .add-to-cart-inactive {
    margin: 0;
    padding: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.add-to-cart-inactive button {
    margin: 0;
    padding: 0;
    height: 45px;
    width: 45px;
    border-radius: 15px;
    cursor: none;
    border: none;
    background-color: var(--neutral-color-2);
}

.add-to-cart i {
    border: 0px;
    color: var(--accent-color-light);
    background-color: var(--neutral-color-2);
}



/**************************** 
 *  style of catalogo.jsp 
 ****************************/
.catalog-content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
}

.filters-panel {
    margin: 20px;
    padding: 20px;
    height: min-content;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

.catalog-main-panel {
    margin-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.catalog-top {
    margin: 20px;
    padding: 20px;
    width: auto;
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
}

.catalog-products {
    margin: 20px;
    padding: 20px;
    width: auto;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--neutral-color-3);
}



/* 
 * style of the price slider in filters 
 */

.wrapper{
    margin: 0px;
    padding-bottom: 40px;
    width: 400px;
    background: var(--transparent);
    border-radius: 10px;
}
.wrapper h1{
    font-size: 24px;
    font-weight: 600;
}
.price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}
.price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
}
.field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}
.slider{
    height: 5px;
    position: relative;
    background: var(--neutral-color-3);
    border-radius: 5px;
}
.slider::before {
    background-color: var(--transparent);
}

.slider .progress{
    height: 100%;
    left: 0%;   /*white space from left*/
    right: 0%;  /*white space from right*/
    position: absolute;
    border-radius: 5px;
    background: var(--main-color);
}
.range-input{
    position: relative;
}
.range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: var(--main-color);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: var(--main-color);
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}



#filter-categories {
    display: flex;
    flex-direction: column;
}

#filter-categories .category-name {
    margin-bottom: 0;
}

#filter-categories button {
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    background-color: var(--transparent);
}

#filter-categories button:hover {
    color: var(--main-color);
    box-shadow: 0 12px 35px var(--shadow-color);
}

#filter-categories .category-animal {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    font-size: large;
}

#filter-categories .category-voice {
    margin-bottom: 5px;
    margin-left: 30px;
    text-align: left;
    font-size: large;
    width: auto;
}



/****************************
 *  style of productPage.jsp 
 ****************************/
#product-page-content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-top {
    margin: 40px 0;
    padding: 0;
    width: 70%;
    display: flex;
    flex-direction: row;
}

#product-page-content #product-image {
    margin-top: 0px;
    margin-bottom: auto;
    margin-left: 0px;
    margin-right: 20px;
    padding: 0;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    border: 1px solid var(--neutral-color-3);
    background-color: var(--neutral-color-2);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

#product-page-content #product-info {
    margin-top: 0px;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 0px;
    padding:20px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-self: end;
    border: 0px solid var(--contrast-color-3);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

#product-info .product-name {
    margin: 5px;
    font-size: 3em;
}

#product-info .product-price {
    font-size: 2em;
}

#product-info #product-availability {
    color: var(--main-color);
}

#product-info .main-elements {
    display: flex;
    flex-direction: row;
}

#product-info .parameter-tag {
    margin: 0;
}

#product-info .product-parameter {
    margin-top: 10px;
    margin-bottom: 20px;
}

#product-info .add-to-cart {
    align-self: center;
    width: 100%;
}

#product-info .add-to-cart button{
    margin: 0;
    padding: 15px 15px;
    width: 100%;
    border-radius: 10px;
    border: none;
	cursor: pointer;
    font-size: medium;
    font-weight: bold;
	color: var(--neutral-color-2);
	background-color: var(--accent-color);
}

#product-info .add-to-cart button:hover {
    background-color: var(--accent-color-dark);
}

#product-description {
    margin: 20px 0px;
    padding: 0;
    width: 70%;
}

#product-description .content{
    margin: 0;
    padding: 20px;
}

#product-reviews {
    margin: 20px 0px;
    padding: 0;
    width: 70%;
}

#product-reviews .content{
    margin: 0;
    padding: 20px;
}

#product-page-content .section-title {
    margin-top: 0;
    font-size: 2em;
}

#product-page-content #product-distinct-info{
    justify-items: start;
    flex-wrap: wrap;
}

#product-page-content .product-data-box {
    margin: 10px 20px 10px 0;
	padding: 10px;
	border-radius: 20px;
    border: none;
    font-size: medium;
    font-weight: bold;
	color: var(--neutral-color-2);
	background-color: var(--main-color);
}

#product-page-content .product-data-box-missing {
    display: none;
}








/* Responsive style for the large window */
@media only screen and (min-width: 900px) {
    #product-top {
        flex-direction: row;
    }
}


/* Responsive style for the small window */
@media only screen and (max-width: 900px) {
    #product-top {
        flex-direction: column;
        align-items: center;
    }
    #product-page-content #product-image,
    #product-page-content #product-info {
        margin: 20px 0;
        width: 100%;
    }
}
