@charset "utf-8";

.product-box {
    margin: auto;
    padding: 10px;
    height: 300px;
    width: 200px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--contrast-color-3);
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
}

.product-box:hover {
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

.product-box .image-container {
    height: auto;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-box .image-container img {
    height: 150px;
    width: 150px;
}

.product-box .name {
    margin: 5px 0 5px 0;
    width: 100%;
}

.product-box .text-container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: auto;
}

.product-box .text-container .price {
    align-self: center;
    margin: 4px;
}

.product-box .text-container button {
    margin-left: auto;
    border: 0px;
    color: var(--neutral-color-1);
    background-color: var(--accent-color);
}

.product-box .text-container button:hover {
    cursor: pointer;
    color: var(--neutral-color-1);
    background-color: var(--accent-color);
}

/*main section of the catalog page*/
.catalog-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.filters-panel {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.catalog-main-panel {
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.catalog-top {
    width: 100%;
}

.catalog-products {
    width: 100%;
}