@charset "ISO-8859-1";
<!--Color variables for the dark theme-->
:root {
    --main-color: #63b441ff;
    --accent-color: #ff8928ff;
    --neutral-color-1: rgb(15, 15, 15);
    --neutral-color-2: rgb(20, 20, 20);
    --contrast-color-1: rgb(252, 252, 252);
    --contrast-color-2: rgb(245, 245, 245);
    --contrast-color-3: rgb(40, 40, 40);
    --shadow-color: rgba(0, 0, 0, 0.2);
}