
#box-fattura {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intestazione,
#info-fattura,
#info-prodotti {
    width: 90%;
}
#info-totale {
    width: 90%;
}
.riga-prodotto {
    width: 100%;
}

#intestazione {
    align-items: center;
}

#intestazione img {
    margin-left: 40px;
    margin-right: auto;
}

#info-venditore {
    margin-top: 20px;
    margin-left: auto;
    margin-right: 40px;
    width: 300px;
    align-items: center;
}
#info-venditore p {
    margin: 2px 0;
}

#dati-utente {
    margin-left: 40px;
    margin-right: auto;
}
#dati-utente p {
    margin: 2px 0;
}

#dati-fattura {
    margin-left: auto;
    margin-right: 40px;
    width: 200px;
}
#dati-fattura .row {
    align-items: center;
}
#dati-fattura .row h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: auto;
}


.titolo-sezione{
    width: 100%;
    color: var(--light);
    background-color: var(--main-color);
}

#info-prodotti {
    margin-top: 30px;
    align-items: center;
}

#info-prodotti p {
    margin: 15px;
    text-align: center;
}
#info-prodotti .nome-prodotto {
    margin-right: auto;
    text-align: left;
}
#info-prodotti .quantita-prodotto,
#info-prodotti .iva-prodotto {
    width: 77px;
}
#info-prodotti .prezzo-prodotto,
#info-prodotti .tot-prodotto {
    width: 70px;
}

#info-totale {
    margin-top: 20px;
    margin-bottom: 60px;
}
#parametri-costo {
    margin-left: auto;
    margin-right: 40px;
    width: 200px;
}
#parametri-costo .row .numero {
    margin-left: auto;
}