@charset "utf-8";
/*Style of the footer*/
footer {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: var(--neutral-color-2);
    background: var(--main-color);
}

footer h1, footer h2, footer h2, footer h4, footer h5, footer h6 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

#large-footer {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h2 {
    margin-bottom: 10px;
}

footer p, footer a {
    margin: 5px;
    color: var(--neutral-color-2);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-links {
    padding: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.footer-heading {
    margin: 15px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.social-links {
    margin: auto;
    width: 100%;
    display: flex;
}

.social-links a {
    margin: 10px 10px;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
    text-decoration: none;
    color: var(--neutral-color-2);
}

.footer-extras {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.pay-methods {
    width: auto;
    margin-right: auto;
    display: flex;
}

.pay-methods img {
    margin: 10px;
    height: 25px;
    
}

.theme {
  width: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.theme h4 {
  margin: 10px;
}

/* Theme switch style*/
/* switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--main-color);
  /*background-color: white;*/
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--light);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: var(--main-color);
  /*background-color: yellow;*/
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
/* End of Theme switch style*/

.footer-copyright {
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-copyright h4 {
    display: flex;
    text-align: center;
}






/* Responsive style for the small window */
@media only screen and (max-width: 900px) {
  #large-footer {
      display: none;
  }
  #small-footer {
      background-color: var(--main-color);
  }
}
/* Responsive style for the large window */
@media only screen and (min-width: 900px) {
  #small-footer {
      display: none;
  }
  #small-footer {
      display: none;
  }
}