@charset "utf-8";
/*Style of the header*/
header {
    margin: 0;
    padding: 0;
    color: var(--contrast-color-1);
    background: var(--neutral-color-2);
}

/*Style of the top bar inside the header*/
.top-bar {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-bar {
    margin: 0;
    padding: 0;
    width: 100%;
}

.logo-box {
    all:unset;
    display: flex;
    align-self: center;
    align-items: center;
}

/*Style of the logo inside the header*/
.logo {
    margin: 10px;
    padding: 0;
    height: 40px;
}

.top-bar .bar-center {
    flex: 1;
}

/*Style of the search bar inside the header*/
.search-bar {
    margin: 10px 20px 10px 20px;
    width: auto;
    border-radius: 10px;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    /*padding: 5px;
    */
    /*color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
    border-radius: 25px;*/
}

.search-bar:hover {
    border: 1px solid var(--main-color);
}

.search-bar input {
	width: 100%;
	padding: 12px 20px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	border: 0px solid #ccc;
	border-radius: 10px 0px 0px 10px;
	box-sizing: border-box;
	background-color: var(--neutral-color-1);
	
}

.search-bar input:focus {
	outline: none;
	caret-color: var(--main-color);
	border: 1px solid var(--main-color);
}

.search-bar button {
	background-color: var(--neutral-color-1);
	color: var(--main-color);
    width: auto;
	padding: 12px;
	margin: 0px 0px 0px 0px;
	border: none;
	border-radius: 0px 10px 10px 0px;
	cursor: pointer;
}

.search-bar button:hover {
    color: var(--neutral-color-2);
	background-color: var(--accent-color);
}

.header-buttons {
    width: auto;
    display: flex;
    margin-left: auto;
    text-align: center;
}

.header-buttons a {
    margin: 10px 10px;
    padding: 10px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
    text-decoration: none;
    color: var(--main-color);
    background-color: var(--neutral-color-2);
}

.header-buttons a:hover {
	color: var(--main-color-dark);
}

nav {
    background-color: var(--main-color);
    display: flex; 
}

nav .nav-links {
    width: auto;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav .nav-links button {
    margin: 0;
    padding: 15px 20px;
    align-items: center;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--neutral-color-2);
    background-color: var(--main-color);
}

nav .nav-links button:hover {
    background-color: var(--main-color-light);
}

nav .nav-links button span {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#large-header {
    margin: 0;
    padding: 0;
    width: 100%;
}

#form-header {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}