@charset "utf-8";
/*Style of the header*/
.standard-header {
    margin: 0;
    padding: 0;
    color: var(--contrast-color-1);
    background: var(--neutral-color-2);
}

.form-header {
    margin: 0;
    padding: 0;
    color: var(--contrast-color-1);
    background: var(--transparent);
}

/*Style of the top bar inside the header*/
.top-bar {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-bar {
    margin: 0;
    padding: 0;
    width: 100%;
}

.logo-box {
    all:unset;
    display: flex;
    align-items: center;
}

/*Style of the logo inside the header*/
.logo {
    margin: 10px;
    padding: 0;
    height: 40px;
}

.logo-large {
    margin: 10px;
    padding: 0;
    height: 65px;
}

.top-bar .bar-center {
    flex: 1;
}



#header-buttons {
    width: auto;
    display: flex;
    margin-left: auto;
    text-align: center;
}

#header-buttons h3 {
    margin: 0;
}

#header-buttons a {
    margin: 10px 10px;
    padding: 10px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--main-color);
    background-color: var(--neutral-color-2);
}

#header-buttons a:hover {
	color: var(--main-color-dark);
}

#header-buttons #cart-icon-link {
    padding: 0;
    width: 35px;
    height: 35px;
    align-self: center;
    position: relative;
}

#cart-icon-link .badge {
    width: 35px;
    height: 35px;
}

#cart-icon-link .fa-cart-shopping {
    position:relative;
    top: 17px;
}

#cart-icon-link .badge:after{
    content:attr(value);
    font-size:12px;
    color: var(--neutral-color-2);
    background: var(--accent-color);
    border-radius:50%;
    padding: 3px 5px;
    position:relative;
    left:12px;
    top:0px;
}

nav {
	height: 100%;
    background-color: var(--main-color);
    display: flex; 
}

nav .nav-links {
    width: auto;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav .nav-links .link {
    margin: 0;
    padding: 12px 20px;
    align-items: center;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--neutral-color-2);
    background-color: var(--main-color);
}

nav .nav-links .link:hover {
    background-color: var(--main-color-light);
}

nav .nav-links .link span {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.admin-header nav .nav-links .link {
	padding-top: 3%;
	padding-bottom: 3%;
}

#large-header {
    margin: 0;
    padding: 0;
    width: 100%;
}

#form-header {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--transparent);
}