@charset "utf-8";
/*Style of the header*/
.standard-header {
    margin: 0;
    padding: 0;
    color: var(--contrast-color-1);
    background: var(--neutral-color-2);
}

.form-header {
    margin: 0;
    padding: 0;
    color: var(--contrast-color-1);
    background: var(--transparent);
}

/*Style of the top bar inside the header*/
.top-bar {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-bar {
    margin: 0;
    padding: 0;
    width: 100%;
}

.logo-box {
    all:unset;
    display: flex;
    align-items: center;
}

/*Style of the logo inside the header*/
.logo {
    margin: 10px;
    padding: 0;
    height: 40px;
}

.logo-large {
    margin: 10px;
    padding: 0;
    height: 65px;
}

.top-bar .bar-center {
    flex: 1;
}

/*Style of the search bar inside the header*/
.search-bar {
    margin: 10px 20px 10px 20px;
    width: auto;
    border-radius: 10px;
    /* display: flex; */
    position: relative;
    font-family: 'Roboto Mono', monospace;
    /*padding: 5px;
    */
    /*color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
    border-radius: 25px;*/
}

.search-bar input {
	width: 100%;
	padding: 12px 20px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
    color: var(--main-color-dark);
    background-color: var(--neutral-color-2);
    box-shadow: inset 0px 0px 10px 0 var(--shadow-color);
    border: 0;
	border-radius: 10px;
	box-sizing: border-box;
}

.search-bar input:focus {
	outline: none;
	caret-color: var(--main-color);
	border: 2px solid var(--main-color);
}

.search-bar button {
    position: absolute;
    top: 0;
    right: 0;
	padding: 9px;
	margin: 3px;
    width: auto;
    cursor: pointer;
	border: none;
	border-radius: 10px;
    color: var(--main-color);
	background-color: var(--transparent);
}

.search-bar button:hover {
	color: var(--accent-color);
}

.header-buttons {
    width: auto;
    display: flex;
    margin-left: auto;
    text-align: center;
}

.header-buttons h3 {
    margin: 0;
}

.header-buttons a {
    margin: 10px 10px;
    padding: 10px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--main-color);
    background-color: var(--neutral-color-2);
}

.header-buttons a:hover {
	color: var(--main-color-dark);
}

.header-buttons .cart {
    padding: 0;
    width: 35px;
    height: 35px;
    align-self: center;
    position: relative;
}

.cart #cart-icon {
    position: absolute;
    top: 18px;
    right: 4px;
}

.cart #quantita_carrello {
    margin: 0;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 2px;
    right: -1px;
    color: var(--accent-color);
}

#quantita_carrello #count-value {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0.5em;
    font-size: 0.5em;
    text-align: center;
    color: var(--neutral-color-2);
}

.badge {
    width: 35px;
    height: 35px;
}

.badge:after{
    content:attr(value);
    font-size:12px;
    color: var(--neutral-color-2);
    background: var(--accent-color);
    border-radius:50%;
    padding: 3px 5px;
    position:relative;
    left:12px;
    top:-15px;
}

nav {
	height: 100%;
    background-color: var(--main-color);
    display: flex; 
}

nav .nav-links {
    width: auto;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav .nav-links .link {
    margin: 0;
    padding: 12px 20px;
    align-items: center;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--neutral-color-2);
    background-color: var(--main-color);
}

nav .nav-links .link:hover {
    background-color: var(--main-color-light);
}

nav .nav-links .link span {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.admin-header nav .nav-links .link {
	padding-top: 3%;
	padding-bottom: 3%;
}

#large-header {
    margin: 0;
    padding: 0;
    width: 100%;
}

#form-header {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--transparent);
}

.esperimento {
    height: 42px;
    width: 42px;
    display: flex;
    flex-direction: row;
}

.esperimento i {
    height: 42px;
    width: 42px;
    position: relative;
    top: 0px;
    left: 0px;
}

.esperimento i::before {
    position: relative;
    top: 20px;
    left: 0px;
}

.esperimento p {
    margin: 0;
    position: relative;
    top: -5px;
    left: 0px;
    color: var(--accent-color);
}