@charset "utf-8";
/*Color variables for the light theme */
:root {
    --main-color: #63b441ff;
    --accent-color: #ff8928ff;
    --neutral-color-1: rgb(245, 245, 245);
    --neutral-color-2: rgb(252, 252, 252);
    --contrast-color-1: rgb(15, 15, 15);
    --contrast-color-2: rgb(20, 20, 20);
    --contrast-color-3: rgb(190, 190, 190);
    --shadow-color: rgba(0, 0, 0, 0.2);
}