@charset "utf-8";
/*Color variables for the light theme */
:root {
    --main-color: rgb(9, 168, 49);
    --main-color-light: rgb(46, 177, 78);
    --main-color-dark: rgb(7, 139, 40);
    --accent-color: rgb(255, 117, 35);
    --accent-color-light: rgb(255, 138, 71);
    --accent-color-dark: rgb(220, 99, 30);
    --neutral-color-1: rgb(232, 232, 232);
    --neutral-color-2: rgb(252, 252, 252);
    --contrast-color-1: rgb(15, 15, 15);
    --contrast-color-2: rgb(20, 20, 20);
    --contrast-color-3: rgb(190, 190, 190);
    --shadow-color: rgba(0, 0, 0, 0.2);
    --light: rgb(252, 252, 252);
    --dark: rgb(15, 15, 15);
}