@charset "utf-8";

#cart-content {
    margin: 0;
    padding: 0;
    width: 100%;
    
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-3);
}

#cart-content h1 {
    margin: 20px 0 20px 0;
}

#empty {
    padding: 100px 0 250px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#full {
    display: flex;

}

.cart-panel {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.price-panel {
    margin-right: 0;
    margin-left: auto;
    padding: 0;
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.cart-box {
    margin: 20px;
    padding: 20px;
    height: auto;
    width: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 0px solid var(--main-color);
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
}

.cart-box hr {
    margin: 20px 0 20px 0;
    width: 100%;
    color: var(--neutral-color-3);
}

.product-line {
    margin: 0;
    padding: 0px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-line img {
    height: 150px;
    width: 150px;
}

.product-line .product-name {
    margin-left: 20px;
    margin-right: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.product-line .product-values {
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-values .product-modifiers {
    margin: auto;
    padding: 0px;
    width: 100%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-modifiers .trash {
    margin: 0 15px;
    padding: 0;
    color: var(--main-color);
    background-color: var(--neutral-color-2);
}

.product-modifiers .trash:hover {
    color: var(--accent-color);
    background-color: var(--transparent);
}

.product-modifiers .product-quantities {
    margin: 0 0 0 10px;
    padding: 0px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-quantities input[type="text"] {
    margin: 0;
    height: 40px;
    width: 40px;
    font-size: medium;
    display: flex;
    box-sizing: border-box;
}

.product-quantities input[type="text"]:focus {
	outline: none;
	caret-color: var(--main-color);
	border: 1px solid var(--main-color);
}

.product-quantities button {
    margin: 0;
    padding: 10px 10px;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border: none;
	cursor: pointer;
    font-size: medium;
    font-weight: bold;
	color: white;
    background-color: var(--main-color);
}

.product-quantities button:hover {
    background-color: var(--main-color-dark);
}

.product-quantities .left {
    border-radius: 10px 0 0 10px;
}

.product-quantities .right {
    border-radius: 0 10px 10px 0;
}

.product-quantities .quantities {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-values .product-price {
    margin: auto;
    padding: 0px;
    width: 100%;
    justify-self: center;
    text-align: right;
}

.price-box {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 0px solid var(--main-color);
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
}

.price-box .single-voice {
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: row;
}

.price-box .small {
    font-size: small;
}

.price-box .span {
    font-weight: bold;
}

.price-box .price {
    margin-left: auto;
}

.price-box button {
    margin: 0;
    padding: 15px 15px;
    width: 100%;
    border-radius: 4px;
    border: none;
	cursor: pointer;
    font-size: medium;
    font-weight: bold;
	color: var(--neutral-color-2);
	background-color: var(--accent-color);
}

.price-box button:hover {
    background-color: var(--accent-color-dark);
}

.donation-box {
    margin: 20px;
    padding: 20px;
    height: auto;
    width: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    border: 0px solid var(--main-color);
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
}

.donation-box .data {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.donation-box input {
    width: 100%;
	padding: 15px 15px;
	margin: 10px 0px;
	display: inline-block;
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: var(--neutral-color-2);
	box-shadow: inset 0px 0px 10px 0 var(--shadow-color);
}

.donation-box input:focus {
	outline: none;
	caret-color: var(--main-color);
}

.donation-box button {
    margin: 0;
    padding: 15px 15px;
    width: 100%;
    border-radius: 4px;
    border: none;
	cursor: pointer;
    color: var(--neutral-color-2);
    background-color: var(--main-color);
}

.donation-box button:hover {
    background-color: var(--main-color-dark);
}