@charset "utf-8";

#cart-content {
    margin: 0;
    padding: 0;
    width: 100%;
    
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-3);
}

#cart-content h1 {
    margin: 20px 0 20px 0;
}

#empty {
    padding: 100px 0 250px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#full {
    display: flex;

}

.cart-panel {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.price-panel {
    margin-right: 0;
    margin-left: auto;
    padding: 0;
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
}

#cart-box {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.product-line {
    margin: 0;
    padding: 0px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-line img {
    height: 150px;
    width: 150px;
}

.product-line .product-name {
    margin-left: 20px;
    margin-right: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.product-line .product-values {
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-values .product-modifiers {
    margin: auto;
    padding: 0px;
    width: 100%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-modifiers .trash {
    margin: 0 15px;
    padding: 0;
    border: none;
    color: var(--main-color);
    background-color: var(--neutral-color-2);
}

.product-modifiers .trash:hover {
    color: var(--accent-color);
    background-color: var(--transparent);
}

.product-modifiers .product-quantities {
    margin: 0;
    padding: 0px;
    height: 40px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-quantities button {
    padding: 10px;
    height: 40px;
    width: 40px;
}

.product-quantities .left {
    border-radius: 10px 0 0 10px;
}

.product-quantities .right {
    border-radius: 0 10px 10px 0;
}

.product-quantities .quantities {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-values .product-price {
    margin: 30px auto auto auto;
    padding: 0px;
    width: 100%;
    justify-self: center;
    text-align: right;
}

#price-box {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 0px solid var(--main-color);
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
}

#price-box .single-voice {
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: row;
}

#price-box .small {
    font-size: small;
}

#price-box .span {
    font-weight: bold;
}

#price-box .price {
    margin-left: auto;
}

#price-box button {
    width: 100%;
}

/* #price-box button:hover {
    background-color: var(--accent-color-dark);
} */


#donation-box .donation-data-box {
    align-self: center;
}



/* Order page style*/
#order-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--neutral-color-3);
}

#order-content #data-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#order-content #shipping-info-box {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-color: var(--main-color);
}

#order-content #payment-method-box {
    display: none;
    flex-direction: column;
    border: 2px solid;
    border-color: var(--main-color);
}

#order-content #confirm-order-box {
    display: none;
    flex-direction: column;
    border: 2px solid;
    border-color: var(--main-color);
}

#order-content .row {
    display: flex;
    flex-direction: row;
}

#order-content .field {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#order-content button {
    margin-right: 10px;
    margin-left: auto;
    width: auto;
    justify-self: end;
}

#order-content .save-data {
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#order-content .save-data input {
    margin: 10px;
    height: 25px;
    width: 25px;
}

#order-content .save-data input:checked {
    color: var(--main-color);
}

#order-content #summary-panel {
    margin: 0 20px 0 auto;
    padding: 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-color-2);
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

#order-content input, select {
	margin: 10px 0px;
}