@charset "utf-8";
/* Sets margin and padding to 0 to reset the status in any browser */
body {
    font-family: sans-serif;
    margin: 0;
    padding:0;
    background-color: rgb(245, 245, 245);
}

.home-content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    margin: 30px;
    padding: 30px;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-color);
}

.best-products {
    margin: 0;
    padding: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-section {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.products-section h2 {
    align-self: flex-start;
}

.products-row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}



/* Responsive layout - when the screen is less than 700px wide, make the elements stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, nav {   
        flex-direction: column;
    }
    header{
        /* Reverse the axis of the header, making it vertical. */
        flex-direction: column;

        /* Align items to the begining (the left) of the header. */
        align-items: flex-start;
    }
}


@media screen and (min-width: 1400px) {
    body {
        flex-direction: column;
    }
  }