@charset "utf-8";
/* Import google fonts for Roboto and Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');
/* Sets margin and padding to 0 to reset the status in any browser */
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding:0;
    background-color: var(--neutral-color-2);
}

h1, h2, h2, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

hr {
    margin: 20px 0;
    width: 100%;
    color: var(--shadow-color);
}

.active-basic-button {
    margin: 0;
	padding: 15px;
	border-radius: 10px;
    border: none;
	cursor: pointer;
    font-size: medium;
    font-weight: bold;
	color: var(--neutral-color-2);
	background-color: var(--main-color);
}

.active-basic-button:hover {
	background-color: var(--main-color-dark);
}

.inactive-basic-button {
    margin: 0;
	padding: 15px;
	border-radius: 10px;
    border: none;
	color: var(--neutral-color-2);
	background-color: var(--main-color-light);
}

.inactive-basic-button:hover {
	cursor: default;
}

.active-accent-button {
    margin: 0;
	padding: 15px;
	border-radius: 10px;
    border: none;
	cursor: pointer;
    font-size: medium;
    font-weight: bold;
	color: var(--neutral-color-2);
	background-color: var(--accent-color);
}

.active-accent-button:hover {
	background-color: var(--accent-color-dark);
}

.inactive-accent-button {
    margin: 0;
	padding: 15px;
	border-radius: 10px;
    border: none;
    font-size: medium;
    font-weight: bold;
	color: var(--neutral-color-2);
	background-color: var(--accent-color-light);
}

.inactive-accent-button:hover {
	cursor: default;
}

.active-edit-button {
	margin: 0;
	padding: 5px 10px;
	border-radius: 10px;
	border: 2px solid var(--main-color);
	color: var(--main-color);
	background-color: var(--transparent);
}

.active-edit-button:hover {
    cursor: pointer;
	color: var(--neutral-color-2);
	background-color: var(--main-color);
	box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

.inactive-edit-button {
	margin: 0;
	padding: 5px 10px;
	border-radius: 10px;
	border: 2px solid var(--main-color-light);
	color: var(--main-color-light);
	background-color: var(--transparent);
}

.inactive-edit-button:hover {
	cursor: default;
}

.active-save-button {
	margin: 0;
	padding: 5px 10px;
	border-radius: 10px;
	border: 2px solid var(--accent-color);
	color: var(--accent-color);
	background-color: var(--transparent);
}

.active-save-button:hover {
    cursor: pointer;
	color: var(--neutral-color-2);
	background-color: var(--accent-color);
	box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

.inactive-save-button {
	margin: 0;
	padding: 5px 10px;
	border-radius: 10px;
	border: 2px solid var(--accent-color-light);
	color: var(--accent-color-light);
	background-color: var(--transparent);
}

.inactive-save-button:hover {
	cursor: default;
}

.input-field {
    width: 100%;
	padding: 15px;
	margin: 10px 0px;
	display: inline-block;
	border: none;
	border-radius: 10px;
	box-sizing: border-box;
    border-bottom: 1px solid var(--transparent);
    color: var(--main-color);
	background-color: var(--neutral-color-1);
	box-shadow: inset 0px 0px 10px 0 var(--shadow-color);
}

.input-field:focus {
	outline: none;
	caret-color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.box {
    margin: 20px;
	padding: 20px;
    height: auto;
	width: auto;
	border-radius: 10px;
    color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
	box-shadow: 0 4px 4px 0 var(--shadow-color), 0 4px 20px 0 var(--shadow-color);
}

.box > h1 {
    margin-top: 0;
    margin-left: 0;
}

.not-displayed {
    display: none;
}

.inactive {
    font-size: 1.3em;
    box-shadow: none;
    color: var(--contrast-color-1);
    background-color: var(--transparent);
    pointer-events: none;
}  

.invalid {
	margin-top: 0;
	font-size: 0.8em;
	color: var(--accent-color);
}



/* style of index.jsp */

.home-content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--neutral-color-3);
}

.banner-container {
    padding-top: 65px;
    padding-bottom: 85px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--neutral-color-2);
}

.website-stripe {
    margin: 0;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    color: var(--neutral-color-2);
    background-color: var(--main-color);
}

.website-stripe p {
    margin-left: 15%;
    margin-right: 15%;
}

.best-products {
    margin: 0;
    padding: 0;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-section {
    margin: 25px 0 0 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-section h1 {
    margin-bottom: 30px;
    align-self: center;
}

.products-row {
    margin: 0 0 50px 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products-row .product-box {
    margin: 20px;
}

.products-row .product-container {
    margin: 0px auto 20px auto;
}

.products-slider {
    margin: 0;
    padding: 0;
    height: 32px;
    width: 32px;
    border-radius: 15px;
    cursor: default;
    border: none;
    background-color: var(--transparent);
}

.products-slider i {
    border: 0;
    color: var(--contrast-color-3);
    background-color: var(--transparent);
}