@charset "utf-8";
/* Import google fonts for Roboto and Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');
/* Sets margin and padding to 0 to reset the status in any browser */
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding:0;
    background-color: var(--neutral-color-2);
}

h1, h2, h2, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

hr {
    margin: 20px 0;
}

.home-content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--neutral-color-1);
}

.banner {
    margin: 30px;
    padding: 30px;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-color);
}

.best-products {
    margin: 0;
    padding: 0;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-section {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-section h2 {
    align-self: flex-start;
}

.products-row {
    margin: 0 0 50px 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}



/* Responsive layout - when the screen is less than 700px wide, make the elements stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, nav {   
        flex-direction: column;
    }
    header{
        /* Reverse the axis of the header, making it vertical. */
        flex-direction: column;

        /* Align items to the begining (the left) of the header. */
        align-items: flex-start;
    }
}


@media screen and (min-width: 1400px) {
    body {
        flex-direction: column;
    }
  }