/*Style of the search bar inside the header*/
.search-bar {
    margin: 10px 20px 10px 20px;
    width: auto;
    border-radius: 10px;
    /* display: flex; */
    position: relative;
    font-family: 'Roboto Mono', monospace;
    /*padding: 5px;
    */
    /*color: var(--contrast-color-1);
    background-color: var(--neutral-color-2);
    border-radius: 25px;*/
}

.search-bar input {
	width: 100%;
	padding: 12px 20px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
    color: var(--main-color-dark);
    background-color: var(--neutral-color-2);
    box-shadow: inset 0px 0px 10px 0 var(--shadow-color);
    border: 0;
	border-radius: 10px;
	box-sizing: border-box;
}

.search-bar input:focus {
	outline: none;
	caret-color: var(--main-color);
	border: 2px solid var(--main-color);
}

.search-bar button {
    position: absolute;
    top: 0;
    right: 0;
	padding: 9px;
	margin: 3px;
    width: auto;
    cursor: pointer;
	border: none;
	border-radius: 10px;
    color: var(--main-color);
	background-color: var(--transparent);
}

.search-bar button:hover {
	color: var(--accent-color);
}




#result {
    position: absolute;
    width: 100%;
    max-width:870px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    box-sizing: border-box;
    z-index: 1001;
}

.link-class:hover{
    color: var(--neutral-color-2);
    background-color:var(--main-color);
}

.search-bar ul {
    margin: 0;
    padding: 0px;
    width: 100%;
    list-style: none;
    border-radius: 15px;
    background-color: var(--neutral-color-2);
    box-shadow: 0 4px 4px 0 var(--shadow-color), 0 4px 20px 0 var(--shadow-color);
}

.search-bar li {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    background-color: var(--transparent);
}

.search-bar li img {
    margin: 5px;
    padding: 2px;
    width: 32px;
    height: 32px;
    border-radius: 15px;
}

.search-bar li .text-muted {
    margin-left: 10px;
    font-weight: 400;
    color: var(--contrast-color-2);
}