@charset "utf-8";
/* style for user pages */

#user-content {
	margin: 0;
	padding: 0;
	display: flex;
	background-color: var(--neutral-color-2);
}

#user-content .user-nav {
	margin: 20px;
	padding: 20px;
	height: min-content;
	width: 260px;
	border-radius: 10px;
	list-style: none;
	display: flex;
	flex-direction: column;
	color: var(--contrast-color-1);
	background-color: var(--neutral-color-2);
	box-shadow: 0 4px 4px 0 var(--shadow-color), 0 4px 20px 0 var(--shadow-color);
}

.user-nav li {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.user-nav .link {
	cursor: pointer;
}

.user-nav i {
	margin: 10px;
	height: 18px;
	width: 18px;
	display: flex;
}

.user-nav i::before {
	margin: auto;
}

.user-nav hr {
	border: 0;
	margin: 12px 0;
}

.user-nav h2 {
	margin-bottom: 7px;
}

.user-nav a {
	margin: 10px;
    text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
    color: var(--contrast-color-2);
}

.user-nav .active-link {
	cursor: pointer;
	font-size: 1.2em;
	font-weight: bold;
	color: var(--main-color);
}

.user-nav .active-link a {
	color: var(--main-color);
}

#data-panel {
	width: 100%;
}

#user-page-header {
	margin-right: 20px;
	margin-left: 20px
}

#user-content .inactive {
	margin-left: 0;
    font-size: 1em;
    box-shadow: none;
	color: var(--contrast-color-1);
    background-color: var(--transparent);
    pointer-events: none;
}  

/* style for userData.jsp */

#data-box {
	margin-right: 20px;
}

#data-box .element-left {
	margin: 20px auto 20px 0px;
	width: 40%;
}

#data-box .element-middle {
	margin: 20px auto;
	width: 40%;
}

#data-box .element-right {
	margin: 20px 0px 20px auto;
	width: 40%;
}

#data-box .section-name {
	margin: 0;
}

#data-box button,input[type=button] {
	margin-left: auto;
}



/* style for userOrders.jsp */

#orders-box {
	margin-right: 20px;
}

#orders-box .order-box {
	margin: 20px 0;
}

#orders-box .order-info {
	border-radius: 10px 10px 0 0;
	background-color: var(--neutral-color-2);
}

#orders-box .order-info .delivery-number {
	margin-left: 0;
	margin-right: auto;
	text-align: left;
}

#orders-box .order-info .date {
	margin: auto;
	text-align: left;
}

#orders-box .order-info .total-price {
	margin: auto;
	text-align: left;
}

#orders-box .order-info .order-details {
	margin-left: auto;
	margin-right: 0;
}

#orders-box .order-info p {
	margin: 0;
}

#orders-box .order-info span {
	font-size: 1.2em;
}

#orders-box .order-box .picture {
	height: 100px;
	width: 100px;
	margin: 20px;
}

#orders-box .order-box img {
	height: 100px;
	width: 100px;
}

#orders-box .product-info {
	width: 100%;
	margin: 20px;
}

#orders-box .product-info .name {
	margin-top: 0;
}

#orders-box .product-info .stars {
	width: 100px;
	border: 0;
	text-align: left;
	color: var(--contrast-color-1);
	background-color: var(--transparent);
}

#orders-box .product-info .stars:hover {
	cursor: pointer;
	color: var(--main-color);
}

#orders-box .product-info .price {
	margin-top: auto;
	margin-bottom: 0;
	align-self: end;
	justify-self: end;
	font-size: 1.2em;
}



/* style for userAddresses.jsp and userPayMethods.jsp */

.user-list {
	margin-right: 20px;
}

.user-list .input-field {
	margin: 7px 15px 7px 0px;
	padding: 10px;
}

.user-list button,input[type=button] {
	margin-left: auto;
	margin-right: 0;
	align-self: start;
}

.user-list .user-element-buttons {
	margin-left: auto;
}

.user-list .user-element-buttons button {
	width: 100%;
}

.user-list .delete-button {
	margin-top: 20px;
}

.user-list .user-element-line {
	margin: 20px 0;
}

.user-list .user-element-data {
	width: 70%;
}

.user-list .user-element-name {
	margin: 10px 15px 10px 0px;
	font-weight: 600;
	font-size: 1.3em !important;
	font-family: 'Roboto Mono', monospace;
}

.user-list .number {
	width: 120px;
}

.user-list .message {
	margin: 0;
	align-self: center;
}

.user-list.new-element-title {
	margin-bottom: 10px;
}