@charset "utf-8";
/**/
form {
	display: flex;
}

.form {
	width: 500px;
	margin: 10% 30% 10% 30%;
	padding: 30px;
	border: 3px solid var(--main-color);
	background-color: var(--neutral-color-2);
}
/**/
.fields {
	text-align: left;
}
/**/
.field {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}

.form ul {
	padding: 0;
	text-align: center;
	list-style: none;
}

.form ul li {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}

.form input, select {
	width: 100%;
	padding: 12px 20px;
	margin: 10px 10px;
	display: inline-block;
	border: 0px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: var(--neutral-color-1);
	
}
.form input:focus {
	outline: none;
	caret-color: var(--main-color);
	border-bottom: 1px solid var(--main-color);
}

.form button[type=submit] {
	background-color: var(--main-color);
	color: white;
	padding: 14px 20px;
	margin: 10px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.form button[type=submit] {
	width: 100%;
}

.form button[type=submit]:hover {
	background-color: var(--accent-color);
}

.form a:link {
	color: var(--main-color);
	text-decoration: none;
}