@charset "ISO-8859-1";
/**/
.form {
	width: 500px;
	margin: 10% 30% 10% 30%;
	padding: 30px;
	border: 5px solid #63b441ff;
	background-color: rgb(252, 252, 252);
}
/**/
.fields {
	text-align: left;
}
/**/
.field {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}

.form ul {
	padding: 0;
	text-align: center;
	list-style: none;
}

.form ul li {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}

form input, select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 0px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: rgb(245, 245, 245);
	
}
form input:focus {
	outline: none;
	caret-color: #63b441ff;
	border-bottom: 1px solid #63b441ff;
}

button[type=submit] {
	width: 100%;
	background-color: #63b441ff;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button[type=submit]:hover {
	background-color: #ff8928ff;
}