<div id="container">
    <div id="container--espansioni">

        <div class="sliders">
            <i class="fas fa-arrow-left" id="prevbtn"></i>
            <i class="fas fa-arrow-right" id="nextbtn"></i>
            <div class="pre-slide">

                <c:forEach items="${list}" var="image">
                    <img src="static/images/${image.foto}">
                </c:forEach>
                <script src="javascript/jsbanner.js" ></script>

            </div>

        </div>
    </div>
</div>