<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <title>PetsWorld</title>
</head>
<body>
  <div id="small-searchbar">
    <form class="search-bar" autocomplete="off" action="ServletSearch" method="post">
      <div class="autocomplete">
        <input type="text" name="search" id="mini-search" placeholder="Cerca Prodotto" class="form-control" />
      </div>
      <ul class="list-group" id="mini-result"></ul>
      <button class="" type="submit" name="nome"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
    </form>
  </div>
  <script src="./static/scripts/smallsearchbar.js"></script>
</body>
</html>