<nav id="small-navbar">
    <div class="bar-hamburger">
        <button class="button" onclick="hideSideNavbar()"><i class="fa-solid fa-xmark fa-xl"></i></button>
    </div>
    <form class="nav-links" action="ServletCatalogo" method="post">
        <button class="link" type="submit" name="animale" value="cane"><span>Cane</span></button>
        <button class="link" type="submit" name="animale" value="gatto"><span>Gatto</span></button>
        <button class="link" type="submit" name="animale" value="pesci"><span>Pesci</span></button>
        <button class="link" type="submit" name="animale" value="volatili"><span>Volatili</span></button>
        <button class="link" type="submit" name="animale" value="piccoliAnimali"><span>Piccoli Animali</span></button>
    </form>
</nav>